/* CSS file for Celebrating Spring page layout */

body{
  /*font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
  background-color: #F9F0D7;
  /*display: flex;
  flex-direction: column;*/
  min-height: 100vh;  /* need this line to
     tell body to fill viewport */
}

main{
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.image-group{
  display: flex;
  flex-direction: row;
}

.img-container1{
  display: flex;
}

.img-container2 {
  /*why this is not working*/
  display: flex;
  /*visibility: hidden;*/
}

.barMenu{
  display: none;
  height: auto;
  margin-left: auto;
}

.navigation{
  background-color: #86B14D;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

form{
  display: flex;
  flex-direction: row;
  justify-content: center;
}


/*these are for the header*/
nav{
  /*background-color: #86B14D;*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 2;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 10px 15px;
}

a:hover{
  background-color: #F9F0D7;
}

/*quote*/
.donate{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  /*padding: 40px;*/
}

/*special text*/
.itext{
  display: flex;
  font-family: 'Tangerine', serif;
  justify-content: center;
  font-size: 40px;
  padding: 20px;
}

/* this season's seed*/
div.menuTitle{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.donateButton{
  width: 50px;
  margin-left: auto;
}

.shopButton{
  width: 50px;
  height: 20px;
  margin-left: auto;
}

button{
  background-color: #38602E;
  border: none;
  text-decoration: none;
  text-align: center;
  /*font-size: 12;*/
  border-radius: 20px;
}

div.images{
  display: flex;
  flex-direction: row;
  /*float: left;*/
  justify-content: space-between;
  flex-wrap: wrap;
  /*padding-left: 40px;*/
  /*padding-right: 40px;*/
}

@media (max-width: 480px){
  .barMenu{
    display: block;
  }
  .donate{
    display: none;
  }
  .itext{
    display: none;
  }
  .navigation{
    display: none;
  }
}

footer{
  display: flex;
  justify-content: center;
  background-color: #38602E;
  height: 30px;
  padding: 15px 10px;
}
